
@{
    ViewBag.Title = "EditUserInfo";
}
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>账号：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="UserName" name="UserName" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入登录账号">
            </div>
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>姓名：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="RealName" name="RealName" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入姓名">
            </div>
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>身份证：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="IdentityNo" name="IdentityNo" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入内身份证号码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>省份：
            </label>
            <div class="layui-input-inline">
                <select name="province" id="province" lay-filter="province">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="layui-form-label">
                <span class="x-red">*</span>城市：
            </label>
            <div class="layui-input-inline">
                <select name="city" id="city" lay-filter="city">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="layui-form-label">
                <span class="x-red">*</span>县/区：
            </label>
            <div class="layui-input-inline">
                <select name="area" id="area" lay-filter="area">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>部门：
            </label>
            <div class="layui-input-inline">
                @Html.DropDownList("DeptCode", ViewBag.DepartmentSelectList as SelectList, new { id = "deptCode" })
            </div>
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>手机：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="Tel" name="Tel" required="" lay-verify="required|phone"
                       autocomplete="off" class="layui-input" placeholder="请输入手机号码">
            </div>
            <label for="username" class="layui-form-label">邮箱：</label>
            <div class="layui-input-inline">
                <input type="text" id="email" name="email" required="" lay-verify="required|email"
                       autocomplete="off" class="layui-input" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">QQ：</label>
            <div class="layui-input-inline">
                <input type="text" id="qq" name="qq" required=""
                       autocomplete="off" class="layui-input" placeholder="请输入QQ号码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-block">
                <input type="text" id="address" name="address" lay-verify="" autocomplete="off" class="layui-input" placeholder="请输入地址">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="remarks" class="layui-form-label">
                备注：
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入备注内容" id="remarks" name="remarks" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="" id="save">保存</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'laydate', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer,
            laydate = layui.laydate;
        $('#select-seach').region();//省市区县下拉列表 select lay-filter name id 属性值 为必须 "province/city/area"
        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交

        form.on('submit(add)', function (datas) {
            $.ajax({
                type: "POST",
		        url: '@Url.Action("SaveUserInfo", "User")',
                data: datas.field,
		        async: false,
		        datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
		        beforeSend: function () { },
		        success: function (result) {
                    if (result.IsSuccess==true) {
                        layer.alert("增加成功", { icon: 6 }, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            window.parent.$("#sreach").click();
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                    else {
                        layer.alert("增加失败", { icon: 6 }, function () {
                            alert("增加失败");
                        });
                    }
		        },
		        complete: function (XMLHttpRequest, textStatus) {
			        //alert(XMLHttpRequest.responseText);
			        //alert(textStatus);
		        },
		        error: function () {
		        }
	        });
            //layer.alert("增加成功", { icon: 6 }, function () {
            //    // 获得frame索引
            //    var index = parent.layer.getFrameIndex(window.name);
            //    window.parent.$("#sreach").click();
            //    //关闭当前frame
            //    parent.layer.close(index);
            //});
            //return false;
        });

        //$('#save').click(function () {
        //    var val = "123321";
        //    if (val === '') {
        //        parent.layer.msg('请填写标记');
        //        return;
        //    }
        //    parent.layer.msg('您将标记 [ ' + val + ' ] 成功传送给了父窗口');

        //    parent.layer.close(index);
        //});
    });
</script>

