
@{
    ViewBag.Title = "用户列表";
}
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-form layui-row">
        <form class="layui-form" action="javascript:;">
            <div class="layui-form-item" id="select-seach">
                <div class="layui-inline">
                    <label class="layui-form-label">省份：</label>
                    <div class="layui-input-inline">
                        <select name="province" id="province" lay-filter="province">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">城市：</label>
                    <div class="layui-input-inline">
                        <select name="city" id="city" lay-filter="city">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">县/区：</label>
                    <div class="layui-input-inline">
                        <select name="area" id="area" lay-filter="area">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">部门：</label>
                    <div class="layui-input-inline">
                        @Html.DropDownList("DeptCode", ViewBag.DepartmentSelectList as SelectList, new { id = "deptCode" })
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" placeholder="请输入姓名" autocomplete="off" class="layui-input" id="userName">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="accountName" placeholder="请输入账号" autocomplete="off" class="layui-input" id="accountName">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建日期：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="开始日" name="startTime" id="startTime">
                    </div>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="截止日" name="endTime" id="endTime">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否在职</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked="" name="isOnTheJob" id="isOnTheJob" lay-skin="switch" lay-filter="isOnTheJob" lay-text="是|否">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit="" data-type="reload" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <table class="layui-hide" id="LAY_table_user" lay-filter="userTable"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" onclick="x_admin_show('添加用户','@Url.Action(@"EditUserInfo")')"><i class="layui-icon"></i>添加</button>
    </div>
</script>
<script type="text/javascript">
    layui.use(['form', 'laydate', 'table'], function () {
        var laydate = layui.laydate,
            $ = layui.jquery,
            table = layui.table;
        $('#select-seach').region();//省市区县下拉列表 select lay-filter name id 属性值 为必须 "province/city/area"
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '@Url.Action("GetUserInfoList")'
            , method: 'POST'
            , title: '用户数据表'
            , toolbar: '#toolbarDemo'
            , cols: [[ //表头
                { checkbox: true, fixed: true }
                , { field: 'Id', title: 'ID' }
                , { field: 'UserCode', title: '用户编码' }
                , { field: 'RealName', title: '姓名' }
                , { field: 'UserName', title: '账号' }
                , { field: 'Sex', title: '性别' }
                , { field: 'IdentityNo', title: '身份证号码' }
                , { field: 'Birthday', title: '生日' }
                , { field: 'DeptCode', title: '部门' }
                , { field: 'ManagerFlag', title: '是否管理员' }
                , { field: 'Tel', title: '电话' }
                , { field: 'EMail', title: '邮箱' }
                , { field: 'QQ', title: 'QQ' }
                , { field: 'Remark', title: '备注' }
                , { field: 'StopFlag', title: '是否停用' }
                , { field: 'ProvinceCode', title: '省份' }
                , { field: 'CityCode', title: '城市' }
                , { field: 'RegionCode', title: '区\县' }
                , { field: 'UserAddress', title: '地址' }
                , {
                    fixed: 'right', width: 165, align: 'center', templet: function (d) {
                        var html = "";
                        html += '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>';
                        html += '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
                        html += '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                        return html;
                    } }
            ]]
            , id: 'userTable'
            , page: true
            , height: 531
        });

        var $ = layui.$, active = {
            reload: function () {
                var province = $('#province').val();
                var city = $('#city').val();
                var area = $('#area').val();
                var deptCode = $('#deptCode').val();
                var userName = $('#userName').val();
                var accountName = $('#accountName').val();
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();
                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        province: province,
                        city: city,
                        area: area,
                        deptCode: deptCode,
                        userName: userName,
                        accountName: accountName,
                        startTime: startTime,
                        endTime: endTime,
                    }
                });
            }
        };

        $('.layui-row .layui-form .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(LAY_table_user)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                    });
            }
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#endTime' //指定元素
        });
    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', { icon: 1, time: 1000 });
        });
    }

    function delAll(argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', { icon: 1 });
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>

