
@{
    ViewBag.Title = "UserListInfo";
}


<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-form layui-row">
        <form class="layui-form" action="javascript:;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="请输入姓名" autocomplete="off" class="layui-input" id="userName">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">账号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="layui-input" id="accountName">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否在职</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked="" name="open" id="isOnTheJob" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">部门：</label>
                    <div class="layui-input-inline">
                        <select name="contrller">
                            <option value="">订单状态</option>
                            <option value="0">待确认</option>
                            <option value="1">已确认</option>
                            <option value="2">已收货</option>
                            <option value="3">已取消</option>
                            <option value="4">已完成</option>
                            <option value="5">已作废</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">省份：</label>
                    <div class="layui-input-inline">
                        <select name="province" id="province" lay-filter="test"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">城市：</label>
                    <div class="layui-input-inline">
                        <select name="city" id="city" lay-filter="test1"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">区域：</label>
                    <div class="layui-input-inline">
                        <select name="area" id="area"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建日期：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="开始日" name="start" id="start">
                    </div>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="截止日" name="end" id="end">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./order-add.html')"><i class="layui-icon"></i>添加</button>
    </div>
</script>
<script type="text/javascript">
    layui.use(['form','laydate','table'], function () {
            var laydate = layui.laydate,
                table = layui.table;
            //方法级渲染
            table.render({
                elem: '#LAY_table_user'
                , url: '@Url.Action("TestLayuiPageList")'
                , method: 'POST'
                , title: '用户数据表'
                , toolbar: '#toolbarDemo'
                , cols: [[ //表头
                    { checkbox: true, fixed: true }
                    ,{ field: 'Id', title: 'ID' }
                    , { field: 'UserName', title: '标题' }
                    , { field: 'Phone', title: '父标题' }                    //这里的field 的值是json数据里要展示的字段
                    , { field: 'WeiXin', title: '描述' }
                    , { field: 'QQ', title: '深度' }
                    , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
                ]]
                , id: 'testReload'
                , page: true
                , height: 531
            });

            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');
                    var demoReload1 = $('#demoReload1');
                    var demoReload2 = $('#demoReload2');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            //key: {
                            //    teid: demoReload.val(),
                            //    tname: demoReload.val(),
                            //    testqq: demoReload.val()
                            //}
                            teid: demoReload.val(),
                            tname: demoReload1.val(),
                            testqq: demoReload2.val()
                        }
                    });
                }
            };

            $('.layui-row .layui-form .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //头工具栏事件
            table.on('toolbar(LAY_table_user)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(LAY_table_user)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.prompt({
                        formType: 2
                        , value: data.email
                    }, function (value, index) {
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
    });

    layui.use(['form','laydate','table'], function () {
            var laydate = layui.laydate,
                table = layui.table,
                $ = layui.jquery,
                form = layui.form;

        var selDate = {
            "area": [
                { "regionName": '成华区', "regionCode": "001" },
                { "regionName": '武侯区', "regionCode": "002" },
                { "regionName": '青羊区', "regionCode": "003" },
                { "regionName": '高新区', "regionCode": "004" },
                { "regionName": '锦江区', "regionCode": "005" }
            ],
            "street": [
                { "regionName": '成华区1', "regionCode": "001" },
                { "regionName": '成华区2', "regionCode": "002" },
                { "regionName": '成华区3', "regionCode": "003" },
                { "regionName": '成华区4', "regionCode": "004" },
                { "regionName": '成华区5', "regionCode": "005" }
            ],
            "place": [
                { "regionName": '街道1', "regionCode": "001" },
                { "regionName": '街道2', "regionCode": "002" },
                { "regionName": '街道3', "regionCode": "003" },
                { "regionName": '街道4', "regionCode": "004" },
                { "regionName": '街道5', "regionCode": "005" }
            ]
        };
        // 一级联动事件触发
        form.on('select(test)', function (data) {
            var value = data.value;
            areaState.area.fn(value);
        });

        // 二级联动事件触发
        form.on('select(test1)', function (data) {
            var value = data.value;
            areaState.street.fn(value);
        });

        //ajax 方法封装，也可直接写在areaState对象里面
        // function areaGet(fn){
        //   $.ajax({
        //     suc:function(data){
        //       fn(data)
        //     }
        //   })
        // }

        var areaState = {
            area: {
                state: false,
                data: [],
                fn: function (value) { // value 表示的是区域代码，及传到后台的数据
                    this.state = true;
                    areaState.street.state = false;
                    areaState.place.state = false;

                    // 从后台调用真实接口
                    // get(function(data){
                    //    areaState.street.data = data;
                    //    console.log(areaState.street.data);
                    //    addSelect('street select',areaState.street.data,false,'regionCode','regionName');
                    // }

                    areaState.street.data = selDate.street;
                    if (value !== '') {
                        addSelect('city', areaState.street.data, true, 'regionCode', 'regionName');
                    } else {
                        $('#city').html('');
                        $('#area').html('');
                        form.render("select");
                    }

                }
            },
            street: {
                state: false,
                data: [],
                fn: function (value) {
                    this.state = true;
                    areaState.place.state = false;

                    areaState.place.data = selDate.place;
                    if (value !== '') {
                        addSelect('area', areaState.place.data, true, 'regionCode', 'regionName');
                    } else {
                        $('#area').html('');
                        form.render("select");
                    }
                }
            },
            place: {
                state: false,
                data: [],
                fn: function () {
                    this.state = true;
                }
            }
        };

        //select添加选项
        function addSelect(id, data, bool, val, text, region) {//bool是否添加“请选择”选项
            val = val || 'type';
            text = text || 'name';
            var d = "'" + region + "'";
            var html = '';
            var $id = $('#' + id);
            $id.html('');
            if (bool) { html += '<option value="">请选择</option>'; }
            for (var i in data) {
                html += '<option value="' + data[i][val] + '">' + data[i][text] + '</option>';
            }
            $id.html(html);
            form.render("select");
        }
        addSelect('province', selDate.area, true, 'regionCode', 'regionName');
        });

        /*用户-停用*/
        function member_stop(obj, id) {
            layer.confirm('确认要停用吗？', function (index) {

                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    $(obj).attr('title', '停用')
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                    layer.msg('已停用!', { icon: 5, time: 1000 });

                } else {
                    $(obj).attr('title', '启用')
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                    layer.msg('已启用!', { icon: 5, time: 1000 });
                }

            });
        }

        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
        }



        function delAll(argument) {

            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data, function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', { icon: 1 });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }
</script>


