<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="LogInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Test\CRM.Web\log.info" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5000KB" />
      <param name="DatePattern" value=".yyyy-MM-dd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="****** Start ****** %newlineHostName:[%property{log4net:HostName}] [%ndc] - %message****** End ******%newline%newline" />
      </layout>
    </appender>
    <appender name="LogDebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Test\CRM.Web\log.debug" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5000KB" />
      <param name="DatePattern" value=".yyyy-MM-dd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="****** Start ****** %newlineHostName:[%property{log4net:HostName}] [%ndc] - %message****** End ******%newline%newline" />
      </layout>
    </appender>
    <appender name="LogErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Test\CRM.Web\log.error" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5000KB" />
      <param name="DatePattern" value=".yyyy-MM-dd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="****** Start ****** %newlineHostName:[%property{log4net:HostName}] [%ndc] - %message****** End ******%newline%newline" />
      </layout>
    </appender>
    <appender name="LogWarnFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Test\CRM.Web\log.warn" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5000KB" />
      <param name="DatePattern" value=".yyyy-MM-dd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Composite" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="****** Start ****** %newlineHostName:[%property{log4net:HostName}] [%ndc] - %message****** End ******%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <priority value="ALL" />
    </root>
    <logger name="Logging.Info">
      <level value="ALL" />
      <appender-ref ref="LogInfoFileAppender" />
    </logger>
    <logger name="Logging.Debug">
      <level value="ALL" />
      <appender-ref ref="LogDebugFileAppender" />
    </logger>
    <logger name="Logging.Error">
      <level value="ALL" />
      <appender-ref ref="LogErrorFileAppender" />
    </logger>
    <logger name="Logging.Warn">
      <level value="ALL" />
      <appender-ref ref="LogWarnFileAppender" />
    </logger>
  </log4net>
</configuration>
